{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'laika/styles.css' %}">

<body>
    <nav class="navbar">
        <div class="container-container">
            <img src="{% static 'laika/laika_logo_400.png' %}" alt="Laika Logo" id="laika_logo">
            
            {% if user.is_authenticated %}
                <a class="nav-item">Hello <strong>{{ user.username }}</strong></a>
                <a href="{% url 'home' %}" class="navbar-button nav-item">Home</a>
                <a href="{% url 'laika-profile' %}" class="navbar-button nav-item">My Profile</a>
                <a href="{% url 'messages' %}" class="navbar-button nav-item">Inbox</a>
                <a href="{% url 'laika-profile-list' %}" class="navbar-button nav-item">Profiles</a>
                <a href="{% url 'laika-post-list' %}" class="navbar-button nav-item">Posts</a>
                <a class="navbar-button" href="{% url 'account_signout' %}">LogOut</a>
            {% else %}
                <a href="{% url 'landing_view' %}" class="nav-item"></a>
                <div class="align-right">
                    <a class="navbar-button" href="{% url 'account_login' %}">Join!</a>
                </div>
            {% endif %}
        </div>
    </nav>
</body>