{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laika - Connect with Fellow Pet Lovers</title>
    <link rel="stylesheet" href="{% static 'laika/styles.css' %}">
</head>
<body>
    <header>
    {% include "laika/navbar.html" %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Laika - Your Pet Community</p>
    </footer>
</body>
</html>








